.front-image-section-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 67px);
  width: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
  border-right: 5px solid var(--main-app-color);
}

.front-image-section-img {
  height: 100%;
  min-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.front-image-section-content-desktop {
  position: absolute;
  bottom: 9%;
  left: 3%;
  padding: var(--main-item-distance);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: transform 200ms ease-in-out;
  transform-origin: center;
  cursor: default;
  opacity: 0.9;
  text-align: center;
}

.front-image-section-content-desktop:hover {
  transform: scale(1.05);
  box-shadow: 20px 20px 60px var(--main-deg-app-color),
    -20px -20px 60px var(--main-app-color);
}

.front-image-section-content-mobile {
  position: absolute;
  bottom: 250px;
  width: 100%;
  color: black;
  opacity: 0.9;
  text-align: center;
}

.front-image-section-content-text {
  font-size: 35px;
  color: white;
}

.front-image-section-instantly-loved-text {
  font-weight: bolder;
}

.front-image-section-right-panel-container {
  position: absolute;
  right: 0;
  top: 20px;
}

.front-image-section-right-panel-container-item {
  display: grid;
  text-align: center;
  align-items: center;
  height: 50px;
  background-color: red;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.front-image-section-right-panel-container-item:hover {
  transform: scale(1.05);
}
