.services-group-container {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  margin: auto;
  width: 70%;
}

.services-group-container-left {
  display: grid;
  background: linear-gradient(145deg, #ff4970, #d63d5f);
  box-shadow: 20px 20px 60px #ca3a59, -20px -20px 60px #ff4e79;
  text-align: center;
  align-items: center;
  z-index: 9999;
  border-radius: 5px;
  color: white;
  font-size: 35px;
  transition: transform 100ms ease-in-out;
  transform-origin: center;
}

.services-group-container-left:hover {
  transform: scale(1.05);
  font-weight: bolder;
}

.services-group-container-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-template-rows: 1fr 1fr;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 100px;
  padding-top: 30px;
}

.services-group-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: dashed;
}

.services-group-item:hover {
  color: #ca3a59;
}

.services-group-item-img {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  transition: transform 200ms ease-in-out;
  transform-origin: center;
  filter: invert(27%) sepia(85%) saturate(1985%) hue-rotate(327deg) brightness(86%) contrast(82%);
}

.services-group-item-img:hover {
  transform: scale(1.2);
}