/* Start of shared styles */
.services-section-wrapper {
  border-top: 2px solid var(--main-app-color);
  border-left: 10px solid var(--main-app-color);
}

.services-section-item {
  display: grid;
  grid-template-rows: 1fr 50px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.services-section-item:hover {
  color: var(--main-app-color);
}

.services-section-item-img {
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services-section-item-text {
  padding-top: 15px;
}
/* End of shared styles */

/* Start of desktop styles */
.services-section-container-desktop {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.services-section-container-left-desktop {
  display: grid;
  height: 100%;
  background: var(--main-sec-app-color);
  color: var(--main-app-color);
  font-size: 35px;
  transition: transform 100ms ease-in-out;
  transform-origin: center;
  font-weight: bolder;
}

.services-section-container-right-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-template-rows: 1fr 1fr;
  padding-left: 100px;
}
/* End of desktop styles */

/* Start of mobile styles */
.services-section-container-left-mobile {
  color: white;
  font-size: 35px;
  transform-origin: center;
  opacity: 0.9;
}

.services-section-container-right-mobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.services-section-container-mobile {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
}
/* End of mobile styles */
