.services-group-wrapper{
  background: 
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgb(236, 234, 234) 10px,
    rgb(236, 234, 234) 20px
  ),
  linear-gradient(
    to bottom,
    rgb(236, 234, 234),
    rgb(214, 210, 210)
  );
}

.services-group-container-desktop {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  margin: auto;
  width: 70%;
}

.services-group-container-mobile {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
  align-items: center;
}

.services-group-container-left-desktop {
  display: grid;
  background: linear-gradient(145deg, var(--main-app-color), var(--main-deg-app-color));
  text-align: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 35px;
  transition: transform 100ms ease-in-out;
  transform-origin: center;
  font-weight: bolder;
}

.services-group-container-left-mobile {
  background: linear-gradient(145deg, var(--main-app-color), var(--main-deg-app-color));
  box-shadow: 20px 20px 60px var(--main-deg-app-color), -20px -20px 60px var(--main-app-color);
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-size: 35px;
  transform-origin: center;
  opacity: 0.9;
}

.services-group-container-right-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-template-rows: 1fr 1fr;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 100px;
  padding-top: 30px;
}

.services-group-container-right-mobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.services-group-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: dashed;
}

.services-group-item:hover {
  color: #ca3a59;
}

.services-group-item-img {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  filter: invert(27%) sepia(85%) saturate(1985%) hue-rotate(327deg) brightness(86%) contrast(82%);
}