.rts-page-container {
  display: grid;
  grid-template-columns: 700px 1fr;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  height: calc(100vh - 100px);
}

.rts-page-login-pane {
  display: grid;
  text-align: left;
  padding: 50px;
  border-right: 1px solid var(--main-app-color);
  grid-template-rows: 100px 100px 1fr 100px;
}

.rts-page-container-desktop {
  padding: 50px;
}

.rts-page-container-mobile {
}

.rts-page-item {
  display: grid;
  text-align: left;
  align-items: center;
  max-height: 100px;
  grid-template-columns: 150px 1fr;
}

.rts-page-item-input {
  font-size: 20px;
  margin-top: 10px;
  height: 30px;
  width: 100%;
}

.rts-page-item-actions {
  display: grid;
  padding-top: 50px;
  grid-template-rows: 50px 50px;
  row-gap: 25px;
}

.rts-page-right {
  background: url(/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.rts-page-sign-in-btn {
  width: 100%;
  text-align: center;
}

.rts-page-error {
  border: 5px solid var(--main-app-color);
  text-align: center;
  align-items: center;
  display: grid;
  background: var(--main-app-color);
}

.rts-page-loading {
  position: absolute;
  left: 50%;
  top: 50%;
}
