.blog-section-container-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: var(--main-item-distance);
  padding-top: var(--main-item-distance);
  border: 10px solid var(--main-app-color);
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.blog-section-first-item-desktop {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  font-size: 40px;
  background-color: var(--main-sec-app-color);
  color: var(--main-app-color);
  font-weight: bolder;
}

.blog-section-first-item-mobile {
  color: white;
  font-size: 35px;
  opacity: 0.9;
  font-weight: bolder;
  text-align: center;
}

.blog-section-item-desktop {
  display: grid;
  grid-template-rows: 1fr 200px;
  padding-bottom: 0;
  padding-right: 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  filter: grayscale(100%);
}

.blog-section-item-title-desktop {
  display: grid;
  color: var(--main-app-color);
  font-size: 24px;
  padding-bottom: 10px;
}

.blog-section-item-desktop:hover {
  filter: none;
}

.blog-section-item-description-desktop {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.blog-section-item-img-desktop {
  width: 100%;
}

.blog-section-item-details {
  display: grid;
  width: 100%;
  align-self: center;
  margin: auto;
  margin-top: 0;
}
