.blog-section-container-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 10px solid var(--main-app-color);
  border-bottom: none;
  border-top: none;
  border-right: none;
  padding-right: 50px;
}

.blog-section-first-item-desktop {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  font-size: 40px;
  background-color: #110819;
  color: var(--main-app-color);
  font-weight: bolder;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right: 10px solid var(--main-app-color);
  border-top: 10px solid var(--main-app-color);
  border-bottom: 10px solid var(--main-app-color);
}

.blog-section-first-item-mobile {
  background: linear-gradient(
    145deg,
    var(--main-app-color),
    var(--main-deg-app-color)
  );
  box-shadow: 20px 20px 60px var(--main-deg-app-color),
    -20px -20px 60px var(--main-deg-app-color);
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-size: 35px;
  opacity: 0.9;
  font-weight: bolder;
  text-align: center;
}

.blog-section-item-desktop {
  display: grid;
  grid-template-rows: 1fr 200px;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  filter: grayscale(100%);
}

.blog-section-item-title-desktop {
  display: grid;
  color: var(--main-app-color);
  font-size: 24px;
  padding-bottom: 10px;
}

.blog-section-item-desktop:hover {
  filter: none;
}

.blog-section-item-description-desktop {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.blog-section-item-img-desktop {
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.blog-section-item-details {
  display: grid;
  width: 450px;
  align-self: center;
  margin: auto;
  margin-top: 0;
}
