* {
  --header-container-height: 100px;
  --header-logo-height: 80px;
  --header-logo-color: white;
  --header-options-color: white;
  --header-logo-font-size: 30px;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: var(--header-container-height);
  align-items: center;
  text-align: center;
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 0px 15px 33px -9px rgba(17, 8, 25, 1);
  -moz-box-shadow: 0px 15px 33px -9px rgba(17, 8, 25, 1);
  box-shadow: 0px 15px 33px -9px rgba(17, 8, 25, 1);
}

.header-desktop-items-container {
  display: grid;
  color: var(--header-options-color);
  font-weight: bolder;
  text-align: center;
  grid-template-columns: repeat(6, 16.67%);
}

.header-mobile-items-container {
  text-align: right;
  cursor: pointer;
}

.header-mobile-mobile-menu-container {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  top: 100px;
  left: 0;
  font-size: 40px;
}

.header-mobile-item {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--header-logo-color);
}

.header-desktop-item {
  cursor: pointer;
}

.header-item-wrapper {
  color: white;
  text-decoration: none;
  line-height: 50px;
}

.header-logo-wrapper {
  text-align: left;
}

.item-selected {
  border-radius: 50px;
  font-weight: 900;
  opacity: 0.9;
  background: linear-gradient(
    145deg,
    var(--main-deg-app-color),
    var(--main-app-color)
  );
}

.item-selected-mobile {
  font-weight: bolder;
  background: linear-gradient(
    145deg,
    var(--main-deg-app-color),
    var(--main-app-color)
  );
  box-shadow: 20px 20px 60px var(--main-app-color),
    -20px -20px 60px var(--main-deg-app-color);
}

.item-selected-mobile {
  font-weight: bolder;
  background: linear-gradient(
    145deg,
    var(--main-deg-app-color),
    var(--main-app-color)
  );
  box-shadow: 20px 20px 60px var(--main-app-color),
    -20px -20px 60px var(--main-deg-app-color);
}

.item-is-contact {
  color: var(--main-app-color);
}
