.contact-us-section-container {
  display: grid;
  grid-template-columns: 5fr 1fr 150px;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-right: 30px;
}

.contact-us-section-container-title {
  display: grid;
  background: linear-gradient(-45deg, var(--main-deg-app-color), var(--main-app-color), var(--main-deg-app-color), var(--main-app-color));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 50px;
  text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.contact-us-section-container-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 4fr;
}

.contact-us-section-item {
  padding: 30px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-us-section-item-label {
  display: grid;
  grid-template-columns: fit-content(120px) 1fr;
  grid-column-gap: 15px;
  width: 300px;
  font-weight: bolder;
}

.contact-us-section-item-label-error {
  display: grid;
  width: 15px;
  text-align: left;
  filter: invert(27%) sepia(85%) saturate(1985%) hue-rotate(327deg)
    brightness(86%) contrast(82%);
}

.contact-us-section-item-input {
  font-size: 20px;
  margin-top: 10px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
}

.contact-us-section-item-input-details {
  padding: 20px;
  margin: 30px;
  width: 100%;
}

.contact-us-section-send-btn-container {
  display: grid;
  text-align: center;
  align-items: center;
  min-width: 150px;
  padding-top: 20px;
}

.contact-us-section-send-btn {
  display: grid;
  text-align: center;
  align-items: center;
  background: var(--main-app-color);
  color: white;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
}

.contact-us-section-send-btn:hover {
  font-weight: bolder;
  box-shadow: 10px 10px 60px var(--main-deg-app-color), -10px -10px 60px var(--main-app-color);
}

.contact-us-section-item-label-error-label {
  color: var(--main-app-color);
  font-size: smaller;
}

.contact-us-section-item-label-error-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: fit-content(120px) 1fr;
  align-items: center;
}
