.contact-us-container {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 30px;
}

.contact-us-container-title {
  display: grid;
  background: linear-gradient(145deg, #ff4970, #d63d5f);
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 50px;
  text-align: center;
}

.contact-us-container-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-us-item {
  padding: 30px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-us-item-label {
  display: grid;
  grid-template-columns: fit-content(120px) 1fr;
  grid-column-gap: 15px;
  width: 300px;
  font-weight: bolder;
}

.contact-us-item-label-error {
  display: grid;
  width: 15px;
  text-align: left;
  filter: invert(27%) sepia(85%) saturate(1985%) hue-rotate(327deg)
    brightness(86%) contrast(82%);
}

.contact-us-item-input {
  font-size: 20px;
  margin-top: 10px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
}

.contact-us-send-btn-container {
  margin: auto;
  margin-right: 20px;
  width: 200px;
  padding-top: 20px;
}

.contact-us-send-btn {
  display: grid;
  text-align: center;
  align-items: center;
  background: #ff4970;
  color: white;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
}

.contact-us-send-btn:hover {
  font-weight: bolder;
  box-shadow: 10px 10px 60px #ca3a59, -10px -10px 60px #ff4e79;
}

.contact-us-item-label-error-label {
    color: #ff4970;
    font-size: smaller;
}

.contact-us-item-label-error-container {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: fit-content(120px) 1fr;
    align-items: center;
}