.blog-group-container-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-group-container-mobile {
}

.blog-group-first-item {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 40px;
  background-color: #ff4970;
  border-right: 1px solid #ff4970;
  border-top: 1px solid #ff4970;
  font-weight: bolder;
}

.blog-group-item-desktop {
  display: grid;
  grid-template-rows: 1fr 200px;
  padding-bottom: 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  filter: grayscale(100%);
  border: 1px solid white;
}

.blog-group-item-title-desktop {
  display: grid;
  color: #ff4970;
  font-size: 24px;
  padding-bottom: 10px;
}

.blog-group-item-desktop:hover {
  filter: none;
}

.blog-group-item-description-desktop {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.blog-group-item-img-desktop {
  width: 100%;
}

.blog-group-item-details {
  display: grid;
  width: 450px;
  align-self: center;
  margin: auto;
  margin-top: 0;
}
