* {
  --footer-container-height: 60px;
  --footer-logo-height: 80px;
  --footer-logo-color: white;
  --footer-options-color: white;
  --footer-logo-font-size: 30px;
}

.footer-container {
  display: grid;
  grid-template-rows: 1fr;
  background: var(--main-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-container-options {
  background: var(--main-bg-color);
  padding-left: 50px;
  text-align: left;
}

.style-logo {
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.links-footer-navbar {
  padding-left: 50px;
  padding-bottom: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 10px;
}

.footer-item-selected {
  font-weight: bolder;
  color: var(--main-deg-app-color) !important;
}

.links-footer-termsandcond {
  padding-bottom: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 25px;
}

.footer-desktop-items-container {
  display: grid;
  color: var(--footer-options-color);
  font-weight: 200;
  text-align: left;
  padding-left: 50px;
  grid-template-rows: repeat(6, 30px);
}

.footer-desktop-item {
  cursor: pointer;
}

.footer-item-wrapper {
  color: white;
  text-decoration: none;
  line-height: 50px;
}

.footer-logo-wrapper {
  padding-left: 50px;
  text-align: left;
}

.footer-logo-img {
  width: 50px;
}
