@font-face {
  font-family: 'coco';
  src: url('/fonts/coco-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'coco-thin';
  src: url('/fonts/coco-pro-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'coco-light';
  src: url('/fonts/coco-pro-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  --main-bg-color: #414042;
  --main-app-color: #ff4970;
  --main-deg-app-color: #ff3970;
}

body {
  user-select: none;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'coco'
}

.app-container {
  padding-top: 100px;
}
